/**
* HeihÅ: simple spreadsheet viewer
* @link https://github.com/kktsvetkov/heiho
*/

/* Hide all body element but the preview when the preview is open */
body.heiho-body > * {display:none}
body.heiho-body > #heiho-view {display: block}

#heiho-view
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: black;
}

#heiho-view-header {color:white; padding: 1em; background:#333; border-bottom:solid 3px black; font: normal 13px arial;}

#heiho-view-scroll {overflow:auto}

#heiho-view-table {background:white; color:black; font: 12px arial; border-collapse: collapse;}
#heiho-view-table.width100 {width:100%}

#heiho-view-thead th {background: #444; color: white; min-width: 40px; border: solid 1px black; padding: 4px;}
#heiho-view-thead th:first-child {min-width: 0; background: #111}

#heiho-view-tbody td {background: white; color: #555; padding: 1px 3px; border: solid 1px #ccc;}
#heiho-view-tbody td:first-child {background: #444; color: #bbb; width: 1%; min-width:25px; border: solid 1px black; text-align:center; vertical-align: middle; font: normal 10px arial;}

#heiho-view-tbody tr:hover td {background:lightyellow}
#heiho-view-tbody tr:hover td:hover {background:khaki}
#heiho-view-tbody tr:hover td:first-child {background:orange; color:#111}

#heiho-view-truncated {color:white; padding: .45em; background:#844; font: normal 11px arial;}
